.root {

    --blackColor: #0D0D0D;
    --darkColor: #181818;
    --lightBlueColor: #d1eaec;
    --blueSecondaryColor: #A1B6BB;
    --blueColor: #86A0A6;

}




body {
    background-color: #181818;
    
    font-family: 'Shippori Antique B1', sans-serif;
}

/*PRE-DEFINIÇÕES*/

.portfolio {
    width: 100%;
}

@media screen and (min-width: 1152px) {
    .largeLimit {
        width: 1152px;
        margin: 0 auto;
        
    }
}

.margin-auto {
    margin: 40px;
}
/*PRE-DEFINIÇÕES*/

/*TEXTOS*/

.firstText {
    

    background-color: #fff;

    padding: 20px 50px;

    border-radius: 20px;
}



/*TEXTOS*/

/*OPTIONS*/
.firstOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;;
    
    padding: 0 auto;

}

.option {

    text-align: center;
    text-decoration: none;

    background-color: #77bdd9;
    color: #fff;

    width: 30%;

    padding: 30px 0;
    margin: 10px;

    border-radius: 20px;
    
    box-shadow: 0 0 3px #000;

}

.option:hover {
    font-weight: bold;
    cursor: pointer;
}


/*OPTIONS*/






